<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Store Demo</title>
</head>
<body>
    <div th:switch="${products}" class="container my-3">
        <div class="row">
            <div class="col-md-3">
                <h2 th:case="null"> No products, add some</h2>

                <div th:case="*">
                    <h2 class="my-3">Products</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Name</td>
                                <td>Cost</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.productId}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.cost}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>